@use 'style' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    text-transform: uppercase;
    @include montserrat-bold(12px);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 102px;
    height: 103px;
    margin-right: 15px;
    // & svg {
    //     filter: drop-shadow(0px 10px 6px 0px rgba(0 0 0 / 0.25));
    // }
}

.logo-name {
    height: 46px;
}

.nav-container {
    display: flex;

}

.nav-list {
    display: flex;
}

.nav-list__item {
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 41px;
    }
}

.btn-container{

}

.contact-btn {
    padding: 17px 36px;
    margin-right: 38px;
    border-radius: 40px;
    border: 2px solid $text-color-main;
    cursor: pointer;
}

.join-btn {
    @include gradient-btn();
}