@use 'style' as *;

// body > * > * {
//     border: 1px solid red;
// }

.contacts {
    margin-top: 116px;
    padding: 49px 80px 48px 39px;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    position: relative;
}

.contacts-pagination {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contacts-pagination_visible {
    display: block;
}

.contacts-pagination_prev {
    left: 15px;
}

.contacts-pagination_next {
    right: 15px;
}

.contacts-list {
    display: flex;
}

.contacts-list__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
        border-left: 1px solid $contacts-border-color;
    }
}

.contacts-list__item-icon {
    margin-right: 25px;
    margin-left: 20px;

}

.contacts-list__item-content {
    padding-right: 20px;
}

.contacts-list__item-title {
    @include montserrat-bold(24px);
    margin-bottom: 10px;
}

.contacts-list__item-text {
    @include montserrat-regular(14px);
}

.about-container {
    margin-top: 90px;
}

.about-list {
    @include montserrat-regular(16px);
    position: relative;
}

.about-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        margin-bottom: 97px;

        .about-list__item-title::after{
            content: url('../img/arrow-long-right.svg');
            margin-left: 40px;
            position: absolute;
        }

        .about-list__item-title .about-list__text-accent {
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}

.about-list__item-title {
    @include montserrat-light(36px);
    text-transform: uppercase;
    position: relative;
    margin-left: 10px;
}

.text-accent {
    @include montserrat-bold(36px);
    display: inline-block;
}

.about-list__text-accent {
    margin-bottom: 5px;
}

.about-list__item-content-container {
    max-width: 630px;
}

.about-list__item-content {
    margin-top: 42px;
    margin-bottom: 28px;
    margin-left: 10px;
}

.about-list__image {
    max-width: 524px;
    max-height: 557px;
}

.about-list__item-btn {
    @include gradient-btn();
}

.about-list__item-image{
    position: absolute;
    bottom: 30px;
    z-index: -1;
}

.services-container {
    margin-top: 111px;
}

.services-why-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-why-section-title {
    @include montserrat-light(36px);
    text-transform: uppercase;
    position: relative;

    &::after{
        content: url('../img/arrow-long-right.svg');
        margin-left: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.services-why-section-title-accent {
    margin-bottom: 15px;
}

.services-why-section_text {
    @include montserrat-regular(16px);
    line-height: normal;
    width: 652px;
}

.services-list-container{
    margin-top: 107px;
    position: relative;
}

.services-list-wrapper {
    position: relative;
}

.services-pagination {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 15px solid rgba(14, 14, 14, 0.32);
    cursor: pointer;
}

.services-pagination_prev {
    left: 0;
    transform: translateX(-50%) rotate(90deg);
}

.services-pagination_next {
    right: 0;
    transform: translateX(50%) rotate(-90deg);
}

.services-pagination-icon {
    padding: 20px 14px;
    background: linear-gradient(268deg, #C0B7E8 0%, #8176AF 100%);
    border-radius: 50%;
}

.services-list {
    @include montserrat-regular(12px);
    line-height: normal;
    display: flex;
}

.sevices-list__item {
    text-align: center;
    border-radius: 40px;
    background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
    padding: 23px 35px 40px 25px;

    &:not(:last-child) {
        margin-right: 11px;
    }
}

.services-list__item-image {
    border-radius: 50%;
    border: 14px solid rgba(14, 14, 14, 0.32);
    margin-bottom: 21px;
}

.services-list__item-title {
    @include montserrat-bold(24px);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(192, 183, 232, 0.33);
    display: inline-block;
    padding-bottom: 17.5px;
}

.services-list__item-info {
    margin-top: 21.5px;
    margin-bottom: 35px;
    text-align: left;
}

.services-list__item-btn {
    @include gradient-btn();
}

.services-bg-vector {
    position: absolute;
    bottom: -250px;
    z-index: -1;
}

.technologies-container {
    margin-top: 114px;
}

.technologies-title-container {
    position: relative;
}

.technologies-title {
    @include montserrat-light(36px);
    text-transform: uppercase;
    padding: 108px 300px 96px 300px;
    background-image: url('../img/technologies-title-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.technologies-title-accent {
    margin-bottom: 11px;
}

.technologies-btn {
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 15px solid rgba(14, 14, 14, 0.32);
    cursor: pointer;
}

.technologies-btn__icon {
    padding: 25.5px 21px;
    background: linear-gradient(268deg, #C0B7E8 0%, #8176AF 100%);
    border-radius: 50%;
}

.technologies-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
}

.process-container {

}

.process-description {
    display: flex;
    justify-content: space-between;
}

.process-title {
    @include montserrat-light(36px);
    text-transform: uppercase;
    position: relative;

    &::after{
        content: url('../img/arrow-long-right.svg');
        min-width: 150px;
        margin-left: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.process-title-accent {
    margin-bottom: 15px;
}

.process__text {
    @include montserrat-regular(16px);
    line-height: normal;
    max-width: 650px;
}

.process-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 124px;
    position: relative;
}

.process-list__item {
    @include montserrat-bold(24px);
    max-width: 200px;
}

.process-list__item-step-wrapper {
    border: 19.5px solid rgba(13, 13, 13, 0.32);
    border-radius: 50%;
    display: inline-block;
}

.process-list__item-step {
    @include montserrat-bold(64px);
    color: $bg-color;
    padding: 41px 41px 40px 37px;
    background: linear-gradient(251deg, #C0B7E8 0%, #8176AF 100%);
    border-radius: 50%;
}

.process-list__item-info {
    display: flex;
    margin-top: 25px;
}

.process-list__item-arrow {
    width: 28px;
    height: 22px;
    margin-right: 15px;
}

.process-list__item-content {

}

.process-list__bg {
    position: absolute;
    z-index: -1;
}

.email-container {
    margin-top: 112px;
    padding: 90px 110px 84px 107px;
    border-radius: 100px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.email-title {
    @include montserrat-bold(36px);
    text-align: center;
    text-transform: uppercase;
}

.email-title-separator {
    width: 414px;
    height: 2px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 21px;
}

.email-subtitle {
    @include montserrat-regular(36px);
    text-align: center;
}

.email-form {
    margin-top: 65px;
}

.email-form__inputs-group {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.email-form__user-info-group {
    display: flex;
    flex-wrap: wrap;
    gap: 33px 10px;
}

.email-form__input {
    padding: 27px 42px;
    border-radius: 40px;
    border: 2px solid $bg-color-main;
    @include montserrat-regular(14px);

}

.email-form__input_user-info {
    width: 40%;
    flex-grow: 1;
}

.email-submit-btn {
    @include gradient-btn();
    display: block;
    margin: 0 auto;
    margin-top: 51px;
}
