$bg-color: #343045;
$text-color-main: #FFFFFF;
$text-color: #343045;

@mixin montserrat-bold($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: $size;
}

@mixin montserrat-regular($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $size;
}

@mixin montserrat-light($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $size;
}

.container {
    background-color: $bg-color;
    color: $text-color-main;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 84px 0;
    text-transform: uppercase;
    @include montserrat-bold(12px);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 102px;
    height: 103px;
    margin-right: 15px;
}

.logo-name {
    height: 46px;
}

.nav-container {
    display: flex;

}

.nav-list {
    display: flex;
}

.nav-list__item {
    &:not(:last-child) {
        margin-right: 41px;
    }
}

.btn-container{

}

.contact-btn {
    padding: 17px 36px;
    margin-right: 38px;
    border-radius: 40px;
    border: 2px solid $text-color-main;
    cursor: pointer;
}

.join-btn {
    padding: 17px 36px;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: $text-color;
    cursor: pointer;
}
