$bg-color: #343045;
$text-color-main: #FFFFFF;
$text-color: #343045;
$contacts-border-color: #C0B7E854;

@mixin montserrat-bold($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: $size;
}

@mixin montserrat-regular($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $size;
}

@mixin montserrat-light($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $size;
}

.container {
    background-color: $bg-color;
    color: $text-color-main;
    margin-left: 84px;
    margin-right: 84px;
}